<h2><span class="fa fa-dashboard"></span> Dashboard</h2>
<hr>

<h3>My Sessions</h3>
<% if (sessions.length > 0) { %>
    <div class="row">
        <% sessions.forEach(function(session) {%>
            <div class="col-xs-3 col-xs-6">
                <ul>
                    <li><a href="/sessions/<%= session.id %>"><%= session.title %></a></li>
                </ul>
            </div>
        <% }); %>
    </div>
<% } else {%>
    <div class="alert alert-info lead">
        You don't have any sessions yet!
    </div>
<% } %>
(Or, <a href="/interface">visit the sandbox</a> to play!)

<h3>My Images</h3>
<% if (user.images.length > 0) { %>
    <div class="row">
        <% user.images.forEach(function(image) {%>
            <div class="col-xs-3 col-xs-6">
                <div class="thumbnail">
                    <img src="<%= image.path %>" alt="<%= image.imageName %>">
                    <div class="caption">
                        <h3><%= image.imageName %></h3>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
<% } else {%>
    <div class="alert alert-info lead">
        You don't have any images yet!
    </div>
<% } %>

<a href="/upload" class="btn btn-primary">
    <span class="fa fa-upload"></span>
    Upload more images
</a>